.active-link {
  
  display: inline-block;
  width: 90px;
  padding: 12px;
  margin: 6px 6px 6px;
  background: blue;
  color: white;

}

.Home {

  text-align: center;
}

.Heros {
  text-align: center;
}

.HeroForm{
  text-align: center;
}

.Form{
  text-align: left;
}